@tailwind base;
@tailwind components;
@tailwind utilities;

.main-cover {
  box-shadow: inset 0px 10px 300px 400px rgba(0,0,0,0.75);
  min-height: 100vh;
  margin-top: -56px;
}

.custom-scroll::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  display: none;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #212129;
  border-radius: 5px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #4C5265;
  border-radius: 15px;
}

.text-limit {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.box-shadow-top {
  box-shadow: 0px -116px 144px 148px #010101;
}

.box-shadow-left::after,
.box-shadow-right::after {
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

.box-shadow-left::after {
  box-shadow: inset 0px 0px 240px 162px rgba(0,0,0,0.95),
  inset 0px 0px 50px 50px #010101;
}

.box-shadow-right::after {
  box-shadow: inset 0px 0px 240px 162px rgba(0,0,0,0.95),
  inset 0px 0px 50px 50px #010101;
}

.genre-shadow p {
  transform: translateY(50px);
  opacity: 0;
  transition: 350ms;
}

.genre-shadow .overlay {
  transition: 350ms;
  box-shadow: inset 0px 0px 17px 1px #000000, 
  inset 0px 0px 112px 21px #000000;
}

.genre-shadow img {
  transition: 350ms;
}

.genre-shadow:hover img {
  scale: 1.4;
  filter: blur(2px);
  background: red;
}

.genre-shadow:hover p {
  transform: translateY(0);
  opacity: 1;
}

.genre-shadow:hover .overlay {
  opacity: 1;
  box-shadow: inset 0px 0px 200px 100px #000000;
}

.search-banner {
  background: url("../assets/banner.jpg") 0 -161px no-repeat;
  background-size: cover;
}

.card {
  position: relative;
}

.card:hover .card-details {
  opacity: 1;
}

.card:hover .card-details h4,
.card:hover .card-details p {
  transform: translateY(0);
}

.card-details {
  background: rgba(0,0,0,0.75);
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  text-align: center;
  opacity: 0;
  transition: 350ms;
}

.card-details h4,
.card-details p {
  transform: translateY(20px);
  transition: 350ms;
}

.arrow svg {
  opacity: 0;
  transition: 250ms;
}

.arrow:hover svg{
  opacity: 1;
}